@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Ubuntu:wght@400;500;700&display=swap');
@import "reset.css";
@import "variables.css";

/* components */
@import "/css/components/status-bar.css";
@import "/css/components/nav-bar.css";
@import "/css/components/screen-header.css";
@import "/css/components/user-component.css";
@import "/css/components/badge.css";

/* screens */
@import "/css/screens/login.css";
@import "/css/screens/friends-display.css";

body{
    font-family: 'Ubuntu', sans-serif;
	color: rgb(62, 60, 60);
}

.main-screen{
    padding: 0 var(--horizontal-space);
}