.nav__list{
    display: flex;
    justify-content: space-between;
    border-top: var(--border-main);
    padding: 20px 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(243, 239, 239, 0.81);
}

.nav__link{
    position: relative;
}
.nav__notification{
    position: absolute;
    bottom: 8px;
    left: 10px;
}

