.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    margin-bottom: 10px;
    margin-top: 30px;
}

.screen-header_title{
    font-size: 25px;
    font-weight: 500;
}
.screen-header_icons span{
    position: relative;
    margin-left: 15px;
    
}